.hero-section {
  margin-top: clamp(100px, 19.481vw, 150px);
  padding-bottom: clamp(120px, 29.091vw, 224px);
  position: relative;

  @include tablet{
    margin-top: 0;
    padding-bottom: clamp(40px, 5.128vw, 60px)
  }


  &::before{
    background-image: var(--hero-icon);
    background-position:left top;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    position: absolute;
    width: Min(30.649vw, 236px);
    height: Min(60.13vw, 463px);
    left: 0;
    bottom: -33%;

    @media (max-width: (1650px)) {
      left: -7%;
    }

    @include desktop{
      left: -10%;
    }

    @include laptop{
      display: none;
    }

  }



  @include ios {
    .container {
      padding: 0 10px;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(15px, 2.564vw, 30px) 0;
    position: relative;
    z-index: 1;


    @include small-tablet{
      align-items: center;
    }

  }

  &__image {
    position: absolute;
    right: -19%;
    top: 50%;
    transform: translateY(-47%);
    z-index: -1;

    width: Min(106.494vw, 820px);
    height: Min(101.688vw, 783px);

    img,picture{
      width: 100%;
    }

    @media (max-width: (1700px)) {
      width: Min(59.615vw, 775px);
      right: -16%;
      transform: translateY(-45%);
    }

    @media (max-width: (1600px)) {
      width: Min(59.615vw, 700px);
      right: -10%;
      transform: translateY(-40%);
    }

    @include desktop{
      right: -5%;
      width: 700px;
      transform: translateY(-40%);
    }

    @include laptop{
      right: -15%;
    }

    @media (max-width: (1110px)) {
      right: -19%;
      width: 640px;
      transform: translateY(-33%);
    }

    @include tablet {
      align-self: center;
      max-width: 800px;
      width: initial;
      height: initial;
      position: relative;
      right: 0;
      z-index: 1;
      transform: none;
    }


  }

  &__title {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 800;
    font-size: clamp(28px, 8.312vw, 64px);
    line-height: 105%;
    max-width: Min(100vw, 770px);
    display: inline;
    color: rgba(var(--cl-c),1.0);
    z-index: 1;

    @include desktop{
      max-width: 675px;

    }

    @include tablet{
      max-width: Min(100vw, 770px);
    }

    @include small-tablet {
      max-width: 100%;
      br{
        display: none;
      }
    }

    @include mobile {
      text-align: center;
    }

  }

  &__deskr{
    max-width: Min(73.896vw, 569px);
    font-weight: 400;
    z-index: 1;
  }

  &__btn {
    padding-top: 20px;
    padding-bottom: 20px;

    @include ios {
      width: 100%;
      text-align: center;
      display: inline-block;
    }
  }
}

