.check-list {
  display: flex;
  flex-direction: column;
  grid-gap: 15px 0;

  &__item {
    font-family:  var(--font-family);
    font-style: normal;
    font-weight: 600;
    font-size: clamp(16px, 1.624vw, 19px);
    line-height: 100%;
    letter-spacing: 0.0175em;
    color: rgba(var(--cl-c),1.0);
    display: flex;
    align-items: center;
    gap: 0 clamp(13px, 1.368vw, 16px);


    svg {
      width: clamp(22px, 2.564vw, 30px);
      height: auto;
      flex-shrink: 0;
    }
  }
}
